body {
    font-family: Arial,sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;

}

h1 {
    color: #58a6ff;
}

/* Attribute Selector */
a {
    color: #59b168;
    text-decoration: none;
}

/* Pseudo Class - hover */
a:hover {
    color: #1f6feb;
}

/* Child Selector */
u1 > li {
    font-weight:bold;

}

/* sibling selector */
h1 + p {
    background-color: #1eeb1e;
    padding: 10px;
    border-radius: 5px;

}

/* hover pseudo-class */
ul li:hover {
    color: #b53cc5;
}

/* :nth-child(n) pseudo-class */
/* Try chaning the backiground color */

ul li:nth-child(3){
    background-color: #b3d323e5;
}

/* :not(selector) pseudo-class */

/* applies styling to any other paragrpah apart from the first paragraph */

p:not(:first-of-type) {
    text-decoration: underline;
}

/* ::before pseudo-element */
ul li::before{
    content: "🚀" ;
}

/* ::after pseudo-element */
a::after{
    content:"🌊" ;
}

/* :: first - letter pseudo-element */
p::first-letter{
    font-size: 400%;
    color: #bd32cf;
    font-weight: bold;
}